body {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;
    text-align: center;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
}

th {
    background: #0A66C2;
    color: white;
}

/* 👇 סעיף 14 – ה-CLASS המבוקש */

.blueTheme {
    background-color: #cce5ff;
    color: darkblue;
    font-weight: bold;
}
