body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-size: 30px;
}

/* טבלה */
table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    border: 1px solid lightgray;
    padding: 20px;
}

/* הסגנון של המשימה ⚡ */
.blueTheme {
    background-color: #0A66C2 !important;
    color: white !important;
}

/* ווידיאו מיושר למרכז */
td iframe {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}
