body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    margin-top: 30px;
    font-weight: bold;
    color: #0A66C2;
}

table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

th {
    background-color: #0A66C2;
    color: white;
    padding: 15px;
    font-size: 18px;
}

td {
    padding: 20px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-weight: 500;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    color: #003B7A;
    font-weight: bold;
}

.highlight:hover td {
    background-color: #d0e7ff;
    color: #003B7A;
    font-weight: 600;
}
