/* GENERAL */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

/* TITLE */
h1 {
    margin-top: 30px;
    font-weight: bold;
    color: #0A66C2;
}

/* TABLE STYLE */
table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

/* HEADER CELLS */
th {
    background-color: #0A66C2;
    color: white;
    padding: 15px;
    font-size: 18px;
}

/* NORMAL CELLS */
td {
    padding: 20px;
    border: 1px solid lightgray;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.2s ease, color 0.2s ease, font-weight 0.2s ease;
}

/* HOVER EFFECT */
.highlight:hover td {
    background-color: #d0e7ff;
    color: #003B7A;
    font-weight: 700;
}

/* LINK STYLE */
.songLink {
    text-decoration: none;
    color: inherit;
}
.songLink:hover {
    text-decoration: underline;
}
