body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

/*=============== CLASS שהתרגיל ביקש ===============*/
.blueTheme {
    background-color: #0A66C2;
    color: white;
}

/*================ עיצוב כללי של הטבלה =================*/
table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #0A66C2;
    color: white;
    padding: 12px;
    font-size: 18px;
}

td {
    padding: 20px;
    border: 1px solid lightgray;
    font-size: 16px;
}

iframe {
    margin-top: 10px;
    border-radius: 6px;
}

/* כותרת מקבלת את הצבע מהCLASS */
.blueTheme h1, .blueTheme th {
    color: white;
}
