body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

.blueTheme {
    background-color: #0A66C2;
    color: white;
}

/* --- HEADER --- */
h1 {
    padding: 20px;
    border-radius: 5px;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 6px;
}

th {
    padding: 14px;
    font-size: 18px;
    border: 1px solid white;
}

td {
    background-color: white;
    color: #000; 
    padding: 20px;
    border: 1px solid lightgray;
}

iframe {
    margin-top: 10px;
    border-radius: 6px;
}
