body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

/* 转专转 */
h1 {
    margin-top: 30px;
    font-size: 30px;
}

/*  */
table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #0A66C2;
    color: white;
    padding: 12px;
    font-size: 18px;
}

td {
    border: 1px solid #e5e5e5;
    padding: 20px;
}

/* 注爪 iframe */
iframe {
    border-radius: 10px;
}

/*  CLASS  住注祝 13 */
.blueTheme {
    background-color: #0A66C2;
    color: white;
}
