body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    text-align: center;
}

table {
    width: 90%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
}


th {
    background-color: #0A66C2;
    color: white;
    padding: 12px;
    font-size: 18px;
}

td {
    border: 1px solid #ddd;
    padding: 18px;
    font-size: 16px;
}


.blueTheme {
    background-color: #b3d9ff;  
    font-weight: bold;
    color: #003366; 
    font-size: 20px;
}
