body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    background-color: #0A66C2;
    color: white;
    padding: 15px;
    margin: 0;
    width: 90%;
    margin: 30px auto 10px auto;
    border-radius: 6px;
}

}

/* TABLE */
table {
    margin: 30px auto;
    width: 90%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
}

th {
    background-color: #0A66C2;
    color: white;
    padding: 15px;
    font-size: 18px;
}

/* שורות רגילות */
td {
    padding: 20px;
    border: 1px solid lightgray;
    font-size: 16px;
    transition: background-color 0.2s ease;
    font-weight: 500;  /* כדי שלא יקפוץ כשעובר להובר */
}

/* הובר שלא מזיז את הטבלה */
.highlight:hover td {
    background-color: #d0e7ff;
    color: #003B7A;
}
