/* עיצוב הטבלה (כללי) */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

/* רווח אחיד לכל התאים */
td, th {
    padding: 18px;
    border: 1px solid #ddd;
    transition: 0.3s ease;
}

/* צבע רקע בהובר בלי לשנות גודל */
tr:hover td {
    background-color: #cfe7ff;
    font-weight: bold;
    color: #004080;
}
