body {
    font-family: Arial, sans-serif;
    background-color: #f3f7ff;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

/* סעיף 14 - CLASS */
.specialRow {
    background-color: #cce4ff;
    font-weight: bold;
    color: darkblue;
    font-size: 18px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background-color: #005bbb;
    color: white;
    padding: 12px;
    font-size: 18px;
}

td {
    padding: 18px;
    border: 1px solid #cfcfcf;
    font-size: 16px;
}

iframe {
    border-radius: 5px;
    margin-top: 5px;
}
