body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

th {
    background: #0A66C2;
    color: white;
    padding: 12px;
    font-size: 18px;
}

td {
    padding: 18px;
    border: 1px solid lightgray;
}

/*  砖专 砖转 转专 */
.blueRow {
    background-color: #d6eaff;
    color: #003366;
    font-weight: bold;
}
